@model IEnumerable<ApplicationContract.DTOS.EstabelecimentoDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Estabelecimentos</h2>

<p>
    @Html.ActionLink("Adicionar Novo", "Create")
</p>
<table class="table table-responsive table-condensed table-striped">
    <tr>
        <th style="text-align:center">Nome</th>
        <th style="text-align:center">Nome Fantasia</th>
        <th style="text-align:center">Cnpj</th>
        <th style="text-align:center">Email</th>
        <th style="text-align:center">Telefone</th>
        <th style="text-align:center">Categoria</th>
        <th style="text-align:center">Status</th>
        <th style="text-align:center">Ação</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Nome
        </td>
        <td>
            @item.NomeFantasia
        </td>
        <td>
            @item.CNPJ
        </td>
        <td>
            @item.Email
        </td>
        <td>
            @item.Telefone
        </td>
        <td>
            @item.Categoria.Nome
        </td>
        
            @if (item.Status == true)
            {
                <td>
                    Ativo
                </td>
            }
            else
            {
                <td>
                    Inativo
                </td>
            }
        <td>
            @Html.ActionLink("Editar", "Edit", new { item.Id }) |
            @Html.ActionLink("Visualizar", "Details", new { item.Id }) |
            @Html.ActionLink("Excluir", "Delete", new { item.Id })
        </td>
    </tr>
}

</table>
